In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist: #num variable name can anything you want to name it to
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
for num in mylist:
    #Check for even
    if num %2 == 0:
        print(num)

2
4
6
8
10

In [8]:
for num in mylist:
    #Check for even
    if num %2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum) # final result

55

In [12]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum) # running tally

1
3
6
10
15
21
28
36
45
55

In [13]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
#tuple unpacking

mylist = [(1,2),(3,4),(5,6),(7,8)]

In [17]:
len(mylist)

4

In [18]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [19]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [21]:
for a,b in mylist:
    print(a)

1
3
5
7

In [22]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [23]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [24]:
for a,b,c in mylist:
    print(b)

2
6
9

In [25]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [26]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [27]:
for key, value in d.items():
    print(value)

1
2
3

In [28]:
for value in d.values():
    print(value)

1
2
3